<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Packages</a></li>
                        <li><a href="#">Gift</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">Restaurant</a></li>
                    </ul>
                </div>
                <div class="col-sm-4 col-md-3 item">
                    <h3></h3>
                    <ul></ul>
                    <h3>Customer Support:</h3>
                    <ul>
                        <li>Phone Number</li>
                        <li>Email</li>                        
                    </ul>
                </div>
                <div class="col-lg-3 item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a
                        href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i
                            class="icon ion-social-instagram"></i></a>
                    <p class="copyright">Farmacy Meals © 2024</p>
                </div>
            </div>
        </div>
    </footer>

</div>